body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.to-buy, .already-bought {
    width: 45%;
}

h3 {
    text-align: center;
}

button {
    margin-left: 10px;
}
